body{
    display: flex;
    justify-content: center;

}

#conainer{
    display: flex;
    flex-direction: column;

}

#flex{
    display: flex;
    gap: 20px;
}

#progressbar{
    height: 10px;
    background-color: antiquewhite;
}

.active{
    background-color: aqua;
}

#progress{
    height: 100%;
    width: 0%;
    background-color: rgb(4, 25, 18);
}