body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.main {
  max-width: 400px;
  margin: auto;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.indicators span {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  transition: 0.3s;
}

.indicators .active {
  background-color: #4caf50;
  color: white;
}

.progressContainer{
  height: 10px;
  background-color: antiquewhite;
}

.progressBar{
  height: 100%;
  width: 50%;
  background-color: #4caf50;
}